<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I've been educated, trained and self-taught to be a bioinformatician, healthcare big-data specialist and various pipeline maker of biological data analysis. In the forseable futher I will focus in the fields of genetic testing, healthcare big-data and privacy protection of personal molecular information.</p>
</div><!--//summary-->
</section><!--//section-->
