<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Senior Bioinformatician &amp; Big-data manager</h3>
              <div class="time">2015.01 - Present</div>
          </div><!--//upper-row-->
          <div class="company">CloudHealth Genomics, Shanghai</div>
      </div><!--//meta-->
      <div class="details">
        <p>
          During the very beginning time, colleagues and I constructed WGS (Whole Genome
          Sequencing) data analysis pipeline based on BWA and GATK for X10; I participated
          in developing CloudHealth’s first genetic testing product GenoMe TM ; project leader
          of CloudHealth’s Chinese Population Genomics; I designed and developed CHAPM,
          which provides an ideal platform for customer experiences; I also developed a
          database called CHVAR and API services for CloudHealth Life Big-data.
        </p>
      </div><!--//details-->
  </div><!--//item-->

  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Bioinformatics R&amp;D Engineer </h3>
              <div class="time">2014.7 - 2014.12</div>
          </div><!--//upper-row-->
          <div class="company">	Shaghai Biotecan Pharmaceuticals, Shanghai</div>
      </div><!--//meta-->
      <div class="details">
          <p>
            During this time, I constructed a series of clinical diagnoses scheme based on
            Affymetrix platform, which supports detection of CNV diseases including autism,
            myelodysplastic syndrome, multiple myeloma and multiple miscarriage;
            meanwhile, I participated in the design and construction of clinical diseases
            related gene mutation database, which is an import part of company's "Big
            medical data" orientation.
          </p>

      </div><!--//details-->
  </div><!--//item-->

  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Bioinformatics Engineer</h3>
              <div class="time">2013.7 - 2014.6</div>
          </div><!--//upper-row-->
          <div class="company">Shanghai Biotechnology Corporation, Shanghai</div>
      </div><!--//meta-->
      <div class="details">
          <p>
            When I was at Shanghai Biotechnology Co. Ltd., performing RNA-Seq data analysis is
            the main work, meanwhile starting from scratch, I generated bioinformatics
            analysis pipeline of 16s rDNA sequencing all by myself, which enabled this field's
            business; I also made an online tool for miRNA targets prediction tool.
          </p>
      </div><!--//details-->
  </div><!--//item-->

</section><!--//section-->
