<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  
  <div class="item">
      <span class="project-title">GenoMeTM</span> -
      <span class="project-tagline">
        2015-01-2015-12, I participated in developing CloudHealth’s first genetic testing
        product GenoMe TM , in this project, I was responsible for the variation annotation
        standard and calculation of populational variations.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">CHAPM</span> -
      <span class="project-tagline">
        2015-01 ~ now, I constructed CHAPM, providing samples tracking, sequencing
        experiments monitoring, data QC and online healthcare reports.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">CloudHealth Genetic Testing System</span> -
      <span class="project-tagline">
        2015-01 ~ now, I constructed first version of CloudHealth genetic testing order
        management system with features such as order tracking, message notification
        and online report.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">CloudHealth Big-data</span> -
      <span class="project-tagline">
        2015-01 ~ now, I initiated the database structure and data collecting system for
        CloudHealth Big-data.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">16s rDNA Pipeline</span> -
      <span class="project-tagline">
        2013-11 ~ 2014-06, I built the bioinformatics data analysis pipeline for 16s rDNA
        projects, and assisted colleges from experimental department with equipment and
        reagent optimization.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">miRNA Targets Query System</span> -
      <span class="project-tagline">
        2013-09 ~ 2013-11, I developed an online tool for miRNA targets prediction, which
        includes 5 common databases and supports data query and download.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title">IOD</span> -
      <span class="project-tagline">
        2011-09 ~ 2011-11, I constructed an GUI-based integrative algorithm software for
        microarray data analysis, whose name is Integrative Outlier Detection software,
        IOD.
      </span>
  </div><!--//item-->
</section><!--//section-->
