<section class="section publications-section">
  <h2 class="section-title"><i class="fa fa-leanpub"></i>Publications</h2>

  <div class="item">
    <strong>Yifei Tang</strong>, Wenying Yan, Jiajia Chen, Cheng Luo, Antti Kaipia, Bairong
    Shen,Identification of novel microRNA regulatory pathways associated with
    heterogeneous prostate cancer, BMC Systems Biology.2013, 7 S3: S6.
  </div>

  <div class="item">
    <strong>Yifei Tang</strong>, Jiajia Chen, Cheng Luo, Kaipia, A. Bairong Shen; MicroRNA expression
    analysis reveals significant biological pathways in human prostate cancer, 2011
    IEEE International Conference on Systems Biology (ISB), page 203 – 210.
  </div>

  <div class="item">
    Jiajia Chen, Daqing Zhang, Wenyu Zhang, <strong>Yifei Tang</strong>, Wenying Yan, Lingchuan
    Guo, Bairong Shen, Clear cell renal cell carcinoma associated microRNA
    expression signatures identified by an integrated bioinformatics analysis, Journal
    of Translational Medicine. 2013, 11:169.
  </div>

  <div class="item">
    Wenyu Zhang, Jiajia Chen, Yang Yang, <strong>Yifei Tang</strong>, Jing Shang, Bairong Shen. A
    Practical Comparison of De Novo Genome Assembly Software Tools for Next-
    Generation Sequencing Technologies, PLoS One, 2011 6(3): e17915.
  </div>

  <div class="item">
    Yu-wen Lv, Jing Wang, Ling Sun, Jian-min Zhang, Lei Cao, Yue-yue Ding, Ye Chen,
    Ji-juan Dou, Jie Huang, <strong>Yi-fei Tang</strong>, Wen-tao Wu, Wei-rong Cui, and Hai-tao Lv;
    Understanding the Pathogenesis of Kawasaki Disease by Network and Pathway
    Analysis, Computational and Mathematical Methods in Medicine, Volume 2013
    (2013), Article ID 989307, 17 pages.
  </div><!--//item-->

</section><!--//section-->
